body{
	margin:	0;
}



#sister-sites small{

	color:	#777777;
}

#sister-sites li{
	display:	inline-block;
	margin-right: 1px;
	padding:	4px 5px 0 5px;
	border:	1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;
}

#sister-sites ul{
	padding: 0;
	margin:	0 auto;
	width:	960px;
}

#sister-sites a{
	text-decoration: none;
	color:	#0297d2;
}

#sister-sites{
	background-color: #eeeeee;
	padding-top: 5px;
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -4px;
}

#active-site a{
	color:	#777777;
	

}

li#active-site{
	background-color: white;
	padding:	4px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	position:	relative;
	top:	2px;

}

#sister-sites li:hover:not(#active-site){
	background: white;
	border:	1px solid #bde2f1;
	border-bottom: none;
	
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small{
	color:#FF4700;
}

main{
	
	width: 200px;
	height: 250px;
	width: 960px;
	margin: 0 auto;
}

.product{
	background-color:	#eeeeee;
	width:	19%;
	height:	200px;
	margin-bottom: 50px;
	float:	left;
	margin-right: 12px;
	position:	relative;
	border:	1px solid #999999;
	box-sizing:	border-box;
}

.product h2{
	font-size: 16px;
	margin-top:	0;
}	

.product img{
	max-width: 100%;
}

.product:last-child{
	margin-right: 0;
}

.product div{
	padding: 10px;
}

.product p{
	font-weight: bold;
	text-align: right;
}

.discount{
	background-color: #e34647;
	padding: 4px 8px;
	color: white;
	position: absolute;
	top:	0;
	left:	-5px;

}

body > footer {
	background-color: #333333;
	clear:	both;
	color: #aaaaaa;
	padding: 20px 0;

}

#links {
	
	width:	65%;
	float:	left;
	padding-left:	10px;
	
}

#functions {
	width:	32%;
	float: right;
	height:	174px;
	padding:	16px 10px;
	text-align: center;
	
}

#links,
#functions {
	box-sizing:	border-box;
	border:	1px solid #777777;
	border-radius: 3px;
}

#footer-container {
	width:	960px;
	margin:	0 auto;
}

body > footer:after{
	content:	'';
	display:	block;
	background-color: green;
	clear:	both;
}

body > footer ul {
	width:	33.333%;
	float:	left;
	padding-left: 0;
	list-style: none;
}

#links a,
#functions a {
	color:	#aaaaaa;
	text-decoration: none;
	line-height: 28px;
}

#links a:hover{
	color: #888888;
	text-decoration:	underline;
}

#functions hr {
	height:	1px;
	border:	none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,757575+53,333333+100 */
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(117,117,117,1) 53%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(117,117,117,1) 53%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(117,117,117,1) 53%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#functions hr ~ a {
	
	padding:	6px 15px;
	text-shadow:	0 1px 1px rgba (0,0,0, .5);
	border:		1px solid #111111;
}

#functions hr + a {
	
	box-shadow: inset 0, 0, 4px 2px rgba (0, 0,0,.5);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72777f+0,3d3d3d+100 */
background: rgb(114,119,127); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(114,119,127,1) 0%, rgba(61,61,61,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(114,119,127,1) 0%,rgba(61,61,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(114,119,127,1) 0%,rgba(61,61,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72777f', endColorstr='#3d3d3d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



#functions hr + a + a {

	
	border-left: none;
	border-top-right


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72777f+0,3d3d3d+100 */
background: rgb(114,119,127); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(114,119,127,1) 0%, rgba(61,61,61,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(114,119,127,1) 0%,rgba(61,61,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(114,119,127,1) 0%,rgba(61,61,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72777f', endColorstr='#3d3d3d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#search{
	background-color: #efefef;
	padding: 20px;
}

#categories {
	background-color: white;
	width: 66.6%;
}

.container {
	width:	960px;
	margin:	0 auto; 
}

#main-catergories {
	padding-left: 0;
	list-style:	none;
}

#main-categories li {
	display:	inline-block;
	width:		140px;
	text-align: center;
	padding: 8px;
}

#main-categories li:nth-child(1) {
	background-color: #f19608;
}

#main-categories li:nth-child(2) {
	background-color: #f06534;
}

#main-categories li:nth-child(3) {
	background-color: #738297;

}

#main-categories li:nth-child(4) {
	background-color: #72ae2d;
	width:	143px;
	
}

#main-categories a {
	font-size: 24px;
	color:	white;
	text-decoration: none;

}

#main-categories ~ ul {
	list-style: none;
	padding-left: 20px;
	background-color: orange;
	width:	33.3333%;
	float:	left;
	box-sizing: border-box;

}

main {
	clear:	both;
}

#search:after {
	content:	'';
	display:	block;
	clear:	both;
}







